.container {
    display: flex;
    justify-content:space-around;
    margin-left:150px;
  }
  form{
    background: transparent;
  }
  .headerclass{
   background-color: #fff;
    display : flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .headerclass .mat-icon{
    margin-top:15px;
    padding-right:10px;
    color:#4caf50; 
  }
 
  .paragraph{
    padding-bottom: 10px;
  }
  .main-container{
    background-image: url("/assets/background.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    overflow-y: scroll;
  }
  .form {
   width:60%;
    padding: 30px 20px 20px 20px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 15px;
  }
  .mat-card-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .donor-header{
    display: flex;
    margin:0px 20px 10px 50px;
    
  }
  .donor-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
   .donor-title {
    margin: 0 10px;
    font-size:12px;
    font-family: Comic Sans MS (cursive);
    font-weight: 600;
  }
  .organ-avatar{
    margin-bottom: 10px; 
  }
 
  .middletitle{
    display : flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;   
  }
  .box{
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
  }

  #matstepforward {  
    margin-top: 10px;
    margin-right: 20px;
    background-color:#4caf50 !important;
    color: #ddd;
  }
  #matstepback {
    margin-top: 10px;
    margin-right: 20px;
    background-color: dimgray;
    color: #ddd;
  }
  .section {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;
  }
  mat-divider{
   margin :30px  30px 00px 30px;
  } 

  #matstepforward {  
    margin-top: 10px;
    background-color:#4caf50 !important;
    color: #ddd;
    font-size: 15px;
  }
  #matstepback {
    margin-top: 10px;
    margin-right: 20px;
    background-color: dimgray;
    color: #ddd;
    font-size: 15px;
  }
  
  ::ng-deep  .mat-icon .mat-checkbox-icon-selected
  {
    color: #fff ;
  }
  ::ng-deep .mdc-checkbox {
    --mdc-checkbox-selected-checkmark-color: #fff;
}
.mat-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;

}

/* .organ-card {
  display: flex;
  align-items: center;
  background-color:white;
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  min-height: 150px;
  max-height: 200px;
 
} */

/* .row {
  display: flex;
  align-items: center;
  width: 100%;

}

.column.left {
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex: 1;
  background-color:#9bc99c;
  padding-bottom:20px;
  padding-top: 20px; */
  /* background-color:#4caf50; */

/* }

.column.right {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
}

.icon {
  margin: 10px;
} */

/* img {
  border-radius: 70% !important;
  background-color: WHITE;
} */
/* .label {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

.checkbox {
  padding-left: 10px;
} */
/* organ-card.component.css */
.organ-card {
  position: relative;
  perspective: 1000px;
  /* display: flex;
  align-items: center; */
  background-color:white;
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  min-height: 150px;
  max-height: 200px;
  cursor: pointer;
}

.tp-box {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.tp-box__side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tp-box__front {
  transform: rotateY(0);
}

.tp-box__back {
  transform: rotateY(180deg);
  background-color:#9bc99c; /* optional: to differentiate the back side */
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}



.column.left {
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex: 1;
  background-color:#9bc99c;
  padding:30px 10px 30px 10px;
  
}

.column.right {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
}

.icon {
  margin-right: 10px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.checkbox {
  margin-top: 10px;
  color:#4caf50;
}

.back-content {
  padding: 20px;
  text-align: center;
}
.explanation{
  color: #fff;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.align-right{
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}
.editbutton{
  background-color: #4caf50;
  color:white;
}
.editbutton .mat-icon{
  font-size:20px;
}
::ng-deep .mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: #fff;
  
}
@media screen and (max-width: 800px) {
   
  .form {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
  }
  form{
    margin-left:30px;
  }
  .container {
    overflow: hidden;
    margin-left: -20px;
    width:100%;

  }
  .headerclass{
    background-color:white;
    margin-left: -20px;
  }
  .donor-header{
    margin:0px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  mat-divider {
    margin-top: 20px;
    margin-left:-20px;
  }
  mat-card{
    margin:10px;
    display: flex;
  }
  .middletitle{
display:block;
  }
 
  .section {
    padding-left: 10px;
    font-size: small;
  }
  .organ-card{
    margin-left:0px;
  }
 

}