<div class="main-container">
  <div class="container">
    <div class="form">
      <form fxLayout="column" [formGroup]="DonorOrgansGroup">
        <div class="headerclass">
          <mat-icon>info</mat-icon>
          <p class="paragraph"> The following is a list of organs which can be donated. Tick the ones that you wish to donate. <br>If you change your mind, you can always untick those you have selected.<br>
         <b><u>Tip:</u></b> To view more information regarding an Organ, click anywhere within its respective box.</p>
        </div>
        <div class="mat-card-align">
          <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateAllOrgans" (change)="onCheckboxChange('all', $event)" [disabled]="donateNoOrgans">I WANT TO BE AN ORGAN DONOR</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateSpecificOrgans" (change)="onCheckboxChange('specific', $event)">DONATE ALL ORGANS</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
          </div>
          <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateNoOrgans" (change)="onCheckboxChange('none', $event)" [disabled]="donateAllOrgans">I DON'T WANT TO BE AN ORGAN DONOR</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
        <mat-divider></mat-divider>
        <div class="middletitle"><p>ORGANS</p></div>
        <div class="mat-card-container">
          <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/kidney.png" class="organ-avatar" alt="Kidney Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">KIDNEY</div>
                <mat-checkbox class="checkbox" formControlName="kidneyStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>

         <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/intestine.png" class="organ-avatar" alt="Bowel Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">SMALL BOWEL</div>
                <mat-checkbox class="checkbox" formControlName="bowelStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>
          <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/pancreas.png" class="organ-avatar" alt="Pancreas Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">PANCREAS</div>
                <mat-checkbox class="checkbox" formControlName="pancreasStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>
          
        </div>
        <div class="mat-card-container">
          <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/liver.png" class="organ-avatar" alt="Liver Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">LIVER</div>
                <mat-checkbox class="checkbox" formControlName="liverStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>

         <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/lungs.png" class="organ-avatar" alt="Lungs Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">LUNGS</div>
                <mat-checkbox class="checkbox" formControlName="lungsStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>
          <mat-card class="organ-card">
            <div class="row">
              <div class="column left">
                <div class="icon">
                  <img mat-card-sm-image src="/assets/heart.png" class="organ-avatar" alt="Heart Icon">
                </div>
              </div>
              <div class="column right">
                <div class="label">HEART</div>
                <mat-checkbox class="checkbox" formControlName="heartStatusCtrl"></mat-checkbox>
              </div>
            </div>
          </mat-card>
        </div>
          <mat-divider></mat-divider>
          <div class="middletitle"><p>TISSUES</p></div>
          <div class="mat-card-container">
            <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/cartilage.png" class="organ-avatar" alt="Cartilage Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">CARTILAGE</div>
                  <mat-checkbox class="checkbox" formControlName="cartilageStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
  
           <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/valves.png" class="organ-avatar" alt="Valves Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">HEART VALVES</div>
                  <mat-checkbox class="checkbox" formControlName="valvesStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
            <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/eye.png" class="organ-avatar" alt="Eye Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">CORNEA</div>
                  <mat-checkbox class="checkbox" formControlName="corneaStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="mat-card-container">
            <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/tissue.png" class="organ-avatar" alt="tissue Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">BONE TISSUES</div>
                  <mat-checkbox class="checkbox" formControlName="tissueStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
  
           <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/ligament.png" class="organ-avatar" alt="ligaments Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">LIGAMENTS</div>
                  <mat-checkbox class="checkbox" formControlName="ligamentStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
            <mat-card class="organ-card">
              <div class="row">
                <div class="column left">
                  <div class="icon">
                    <img mat-card-sm-image src="/assets/tendon.png" class="organ-avatar" alt="Tendon Icon">
                  </div>
                </div>
                <div class="column right">
                  <div class="label">TENDONS</div>
                  <mat-checkbox class="checkbox" formControlName="tendonStatusCtrl"></mat-checkbox>
                </div>
              </div>
            </mat-card>
          </div>
        <div class="buttonnew">
          <button mat-raised-button  id="matstepforward">Save</button>
          <button mat-raised-button  id="matstepback">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
