<div class="main-container">
  <div class="container">
    <div class="form">
      <form fxLayout="column" [formGroup]="DonorOrgansGroup">
        <div class="headerclass">
          <mat-icon>info</mat-icon>
          <p class="paragraph"> The following is a list of organs which can be donated. Tick the ones that you wish to donate. <br>If you change your mind, you can always untick those you have selected.<br>
         <b><u>Tip:</u></b> To view more information regarding an Organ, click anywhere within its respective box.</p>
        </div>
        <div class="mat-card-align">
          <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateAllOrgans" (change)="onCheckboxChange('all', $event)">I WANT TO BE AN ORGAN DONOR</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateSpecificOrgans" (change)="onCheckboxChange('specific', $event)">DONATE ALL ORGANS</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
          </div> -->
          <div class="box">
          <mat-card class="donor-header">
            <mat-card-content>
              <section class="donor-section">
                <mat-checkbox class="donor-title" [(ngModel)]="donateNoOrgans" (change)="onCheckboxChange('none', $event)">I DON'T WANT TO BE AN ORGAN DONOR</mat-checkbox>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
        <mat-divider></mat-divider>
        <div class="middletitle"><p>ORGANS</p></div>
        <div class="box">
          <mat-card class="organ-card">
            <mat-card-header class ="organ-header">
                <mat-card-title-group>
              <mat-card-title class = "organ-title">KIDNEY</mat-card-title>
              <img  mat-card-sm-image src="/assets/kidney.png" class="organ-avatar">
              </mat-card-title-group>
              <mat-checkbox class="organ-margin" formControlName="kidneyStatusCtrl"></mat-checkbox>
            </mat-card-header>
          </mat-card>
          <mat-card class="organ-card">
            <mat-card-header class ="organ-header">
                <mat-card-title-group>
              <mat-card-title class = "organ-title">SMALL BOWEL</mat-card-title>
              <img  mat-card-sm-image src="/assets/intestine.png" class="organ-avatar">
              </mat-card-title-group>
              <mat-checkbox class="organ-margin" formControlName="bowelStatusCtrl"></mat-checkbox>
            </mat-card-header>
          </mat-card>
          <mat-card class="organ-card">
            <mat-card-header class ="organ-header">
                <mat-card-title-group>
              <mat-card-title class = "organ-title">PANCREAS</mat-card-title>
              <img  mat-card-sm-image src="/assets/pancreas.png" class="organ-avatar">
              </mat-card-title-group>
              <mat-checkbox class="organ-margin" formControlName="pancreasStatusCtrl"></mat-checkbox>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="box">
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">LIVER</mat-card-title>
                <img  mat-card-sm-image src="/assets/liver.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="liverStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">LUNGS</mat-card-title>
                <img  mat-card-sm-image src="/assets/lungs.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="lungsStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">HEART</mat-card-title>
                <img  mat-card-sm-image src="/assets/heart.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="heartStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
          </div>
          <mat-divider></mat-divider>
          <div class="middletitle"><p>TISSUES</p></div>
          <div class="box">
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">CARTILAGE</mat-card-title>
                <img  mat-card-sm-image src="/assets/cartilage.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="cartilageStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">HEART VALVES</mat-card-title>
                <img  mat-card-sm-image src="/assets/valves.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="valvesStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
            <mat-card class="organ-card">
              <mat-card-header class ="organ-header">
                  <mat-card-title-group>
                <mat-card-title class = "organ-title">CORNEA</mat-card-title>
                <img  mat-card-sm-image src="/assets/eye.png" class="organ-avatar">
                </mat-card-title-group>
                <mat-checkbox class="organ-margin" formControlName="corneaStatusCtrl"></mat-checkbox>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="box">
              <mat-card class="organ-card">
                <mat-card-header class ="organ-header">
                    <mat-card-title-group>
                  <mat-card-title class = "organ-title">BONE TISSUE</mat-card-title>
                  <img  mat-card-sm-image src="/assets/bonetissue.png" class="organ-avatar">
                  </mat-card-title-group>
                  <mat-checkbox class="organ-margin" formControlName="tissueStatusCtrl"></mat-checkbox>
                </mat-card-header>
              </mat-card>
              <mat-card class="organ-card">
                <mat-card-header class ="organ-header">
                    <mat-card-title-group>
                  <mat-card-title class = "organ-title">LIGAMENT</mat-card-title>
                  <img  mat-card-sm-image src="/assets/ligament.png" class="organ-avatar">
                  </mat-card-title-group>
                  <mat-checkbox class="organ-margin" formControlName="ligamentStatusCtrl"></mat-checkbox>
                </mat-card-header>
              </mat-card>
              <mat-card class="organ-card">
                <mat-card-header class ="organ-header">
                    <mat-card-title-group>
                  <mat-card-title class = "organ-title">TENDON</mat-card-title>
                  <img  mat-card-sm-image src="/assets/tendon.png" class="organ-avatar">
                  </mat-card-title-group>
                  <mat-checkbox class="organ-margin" formControlName="tendonStatusCtrl"></mat-checkbox>
                </mat-card-header>
              </mat-card>
            </div>
        <div class="buttonnew">
          <button mat-raised-button  id="matstepforward">Save</button>
          <button mat-raised-button  id="matstepback">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
