<div class="share-container">
    <div class="success-msg">
        <i class="fa fa-check"><mat-icon><span class="material-symbols-outlined">done_outline</span></mat-icon>
        Organ List was Saved Successfully!!</i>
      </div>
    <mat-divider></mat-divider>
    <div class="share-content mat-elevation-z4">
    <h4 class="share-title">Share</h4>
    <mat-divider></mat-divider>
    <mat-dialog-content class="titledialog">Thankyou for registering your wish regarding Organ Donation.</mat-dialog-content>
    
    <mat-dialog-actions>
      <div class="button-container">
        <button mat-fab extended mat-dialog-close>
          <img class="share-img" src="./assets/facebook.png">
          <span class="share-label"> Share 9.2K </span>
        </button>
      </div>
    </mat-dialog-actions>
</div>
</div>
