.menu-spacer {
    display: flex;
    flex-direction: column;
     align-items: center; 
     justify-content:space-between !important ;
     width: 100%;    
     margin-left: 8px;   
   } 
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color:grey;
  }
   a:active{
    color: lightgray;
  }
  .mat-drawer{
    overflow-y:scroll;
  }
  .sample button{
    padding :30px;
  }
  .nav-caption{
    display: inline-block;
    padding-left: 6px;
  }
  .mat-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mat-button span{
    color:whitesmoke !important;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .logo img {
    width: 12%;
    object-fit: cover;
    margin-left: 50px ; 
  }
  .logo span {
    font-size: 22px;
    font-family:Copperplate;
  }
  .togglespace{
    margin-left: -40px;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .mat-mdc-list{
   display: flex;
   overflow:hidden;
  }
  .side-icon {
   width:40px;
   background-color: transparent;
  }
  .spacealign{
    padding-right: 30px;
  }
  .iconspacer{
    color:#3f51b5;
    padding-right: 20px;
    margin-top: 0px;
  }
  .sideheader-row {
    display: block;
  }
  .sideheader-row .mat-icon .menu-button .menu-button.rotated{
    padding: -10px;
    height:20px;
  }
  

  @media screen and (max-width: 800px) {
  
  .logo{
    margin-left: -20px;
  }
  .logo span {
    font-size: 20px;
    font-family:Impact;
  }
  }
  



