.alert-container {
  pointer-events: auto; 
  }
  
  #matstepforward {  
    margin-top: 10px;
    background-color:#4caf50 !important;
    color: #ddd;
    font-size: 15px;
  }
  #matstepback {
    margin-top: 10px;
    margin-left: 20px;
    background-color: dimgray;
    color: #ddd;
    font-size: 15px;
  }
 
 