<div class="main-container">
    <div class="container">
      <div class="form">
          <h3>PRIVATE POLICY</h3>
          <mat-divider></mat-divider>
          <div class ="policy">
          <ul>
            <li class ="lineclass">The information submitted will be processed only by health care professionals involved in the coordination of organ donation and transplantation. </li>
            <li class ="lineclass">Personal Data shall not be retained following death or deregistration.</li>
            <li class ="lineclass">The Data controller is the Healthcare Standards Directorate.</li>
            <li>All personal Data collected in this form is for the purpose of the Organ Donation Register. 
                “All personal data is processed in accordance with the Data Protection Act, Cap 440 of the Laws of Malta. Vide our Data Protection Policy for further details”</li>
          </ul>  
        </div>
      </div>
    </div>
  </div>