
 <div class="main-container">
    <div class="container">
        <h1>Know Organ Donation</h1>


<mat-accordion>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
What is Organ Donation?
</mat-panel-title>

</mat-expansion-panel-header>
<p>Organ donation is the entire practice of retrieving a human organ from a living or deceased person, who is referred to as a Donor, and transplanting it into a recipient. The recipient will be a patient who is suffering from organ failure and who will not survive unless she/he receives an organ replacement. The process of recovering organs is called Retrieval.</p>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    Types of Organ Donation?
</mat-panel-title>
</mat-expansion-panel-header>
<p>There are two types of organ donations – Living Organ Donations & Deceased Organ Donations.</p>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    What is the process of Organdonation?
</mat-panel-title>
</mat-expansion-panel-header>
<p></p>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Which Organs can be donated?
</mat-panel-title>
</mat-expansion-panel-header>
<p></p>
</mat-expansion-panel>
</mat-accordion> 
</div>
 </div>