<div class="main-container">

        <div class="form"> 
           
        
       <h1>Organ Donation - Registering Your Wish </h1>
       <mat-divider></mat-divider>
            <br>
            <p>Transplantation of organs, tissues and cells has immense potential to save and improve lives. One organ donor can save up to eight lives. The Human Organs, Tissues and Cells Donation Act, state that, any person who has attained the age of sixteen may register his/her wish to donate or not to donate his/her organs after death. The National Organ Donor Register is available for all residents of Malta who would like to register his/her wish in this regard.</p>
    </div>
       
        <div class="image">
            <img src="assets/SmallBannerImage2.jpg" alt="Banner Image">
            <a href="assets/organdonor form.pdf" target="_blank" class="linkText aText" data-toggle="tooltip" title="Download a registration form" aria-label="Download a registration form">
                <u>Download a registration form</u>
            </a>
        </div>
    

    <div class="logos">
        <div class="logo">
            <a href="https://www.servizz.gov.mt/en/Pages/default.aspx" target="_blank">
                <img src="assets/servizz.gov.png" alt="Servizz.gov Logo">
            </a>
        </div>
        <div class="logo1">
            <a href="https://publicservice.gov.mt/mt/homepage" target="_blank">
                <img src="assets/servizz pubbliku.png" alt="Servizz Pubbliku Logo">
            </a>
        </div>
    </div>
    
            <div class="videos">   

      <iframe class="youtube-iframe" title="Organ Donation - Registering Your Wish" caption="Organ Donation - Registering Your Wish" src="https://www.youtube.com/embed/neG4B0NhZp0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        <iframe class="youtube-iframe" title="Organ Donation - Registering Your Wish" caption="Organ Donation - Registering Your Wish" src="https://www.youtube.com/embed/45FUYsKIOPs" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        <iframe class="youtube-iframe" title="Organ Donation - Registering Your Wish" caption="Organ Donation - Registering Your Wish" src="https://www.youtube.com/embed/hv0rYVwba98" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
</div>