

<div class="image-container">
  <img src="assets/SmallBannerImage2.jpg">
  </div>

<div>
  <a href="assets/organdonor form.pdf" download>
    <button class="download-button">Download a registration form</button>
  </a>
</div>

<div class="slider-container">
  <img [src]="slides[currentSlideIndex]" class="slider-image" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlideIndex">
</div>


    <div class="logo">
        <a href="https://www.servizz.gov.mt/en/Pages/default.aspx" target="_blank">
            <img src="assets/Servizz.jpg" class="logo">
        </a>
    </div>

    
    <div class="logo1">
      <a href="https://publicservice.gov.mt/mt/homepage" target="_blank">
          <img src="assets/PublicServiceBlue.png" class="logo1">
      </a>
  </div>




