
.main-container{
  height:100%;
  
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  background-image: url("/assets/background.png");
  text-align: center; /* Center align text inside .form */
}

/* Container holding the image and link */
.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}


.form {

  display: block;
  padding: 30px 20px 20px 20px;

  border: 1px solid white;
  border-radius: 15px;
  width:50%;
  margin-bottom: 20px; /* Optional: Add some space between .form and .image */
}


/* Image section */
.image {
  position: absolute;
  left:76%;
  text-decoration: none;
  width: 400px; /* Adjust this value to increase the size of the image */
}

.image img {
  width: 100%;
  height: auto;
}

/* Link text under the image */
.linkText {
  position: absolute;
  bottom: -30px;
  left: 40%;
  transform: translateX(-50%);
  color: #000;
  text-decoration: none;
}

.linkText aText:hover {
  text-decoration: underline;
}

/* Logos container */
.logos {
  position: absolute;
  margin-top:400px;
  margin-left:50px;
  display: flex;
  gap: 50px;
}

.logo, .logo1 {
  flex: 5 5 100px;
width: 300px;
  text-align: center;
}

.logo img, .logo1 img {
  width: 100%;
  height: auto;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align videos horizontally */
  gap: 40px; /* Optional: Add space between videos */
  position: absolute;
  margin-top: 600px;
  text-decoration: none;
  
}
.videos iframe {
  margin-top: 20px; /* Optional: Add space above videos */
}



















