



<div class="main-container">
  <div class="container">
    <h1>Edit Profile</h1>

      <!-- <div class="form"> -->
        <mat-accordion>
  
          <!-- Panel 1: Personal Information -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>person</mat-icon>
                Personal Information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="firstFormGroup">
              <div class="box">
                <mat-form-field>
                  <mat-label>Id Card Number</mat-label>
                  <input matInput placeholder="Card Number" formControlName="idcardCtrl" required />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Title</mat-label>
                  <mat-select formControlName="titleTypeCtrl">
                    <mat-option value="1">MR</mat-option>
                    <mat-option value="2">MRS</mat-option>
                    <mat-option value="3">MS</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" formControlName="nameCtrl" required />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Surname</mat-label>
                  <input matInput placeholder="Surname" formControlName="surnameCtrl" required />
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>Date of Birth</mat-label>
                  <input matInput readonly [matDatepickerFilter]="dateFilter" [matDatepicker]="pickerDateOfBirth" formControlName="dateOfBirthCtrl" maxlength="10"/>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerDateOfBirth"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDateOfBirth></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="genderCtrl"></mat-select>
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>Blood Group</mat-label>
                  <mat-select formControlName="bloodGroupCtrl"></mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Nationality</mat-label>
                  <mat-select formControlName="nationalityCtrl"></mat-select>
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>
  
          <!-- Panel 2: Contact Information -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>call</mat-icon>
                Contact Information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="secondFormGroup">
              <div class="box">
                <mat-form-field>
                  <mat-label>Mobile</mat-label>
                  <input matInput placeholder="Mobile" formControlName="mobileCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Telephone</mat-label>
                  <input matInput placeholder="Telephone" formControlName="telephoneCtrl" required />
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>E-Mail</mat-label>
                  <input matInput placeholder="email" formControlName="emailCtrl" required/>
                </mat-form-field>
              </div>
              <div class="box">
                <mat-card>
                  <mat-card-content>
                    <section class="section">
                      <label class="margini">Preferred Contact Mode</label>
                      <mat-radio-group formControlName="contactModeCtrl">
                        <mat-radio-button class="margin" value="sms">SMS</mat-radio-button>
                        <mat-radio-button class="margin" value="email">Email</mat-radio-button>
                      </mat-radio-group>
                    </section>
                  </mat-card-content>
                </mat-card>
              </div>
            </form>
          </mat-expansion-panel>
  
          <!-- Panel 3: Residence Address -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>home</mat-icon>
                Residence Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="thirdFormGroup">
              <div class="box">
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="address" formControlName="mailaddressCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Street</mat-label>
                  <input matInput placeholder="Street" formControlName="mailstreetCtrl" required/>
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>PostCode</mat-label>
                  <input matInput placeholder="postcode" formControlName="mailpostcodeCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Locality</mat-label>
                  <mat-select formControlName="maillocalityCtrl" (selectionChange)="onLocalitySelectionChange($event)">
                    <mat-option *ngFor="let locality of localities" [value]="locality.id">
                      {{ locality.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>
  
          <!-- Panel 4: Mailing Address -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>mail</mat-icon>
                Mailing Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="thirdFormGroup">
              <div class="box">
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="address" formControlName="mailaddressCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Street</mat-label>
                  <input matInput placeholder="Street" formControlName="mailstreetCtrl" required/>
                </mat-form-field>
              </div>
              <div class="box">
                <mat-form-field>
                  <mat-label>PostCode</mat-label>
                  <input matInput placeholder="postcode" formControlName="mailpostcodeCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Locality</mat-label>
                  <mat-select formControlName="maillocalityCtrl" (selectionChange)="onLocalitySelectionChange($event)">
                    <mat-option *ngFor="let locality of localities" [value]="locality.id">
                      {{ locality.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider></mat-divider>
              <div class="box">
                <mat-checkbox formControlName="disableAddressField" (click)="showOrHide()">
                  Use Redisence Address
                </mat-checkbox>
              </div>
              <div class="box" [class.hide]="isVisible">
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="address" formControlName="newmailaddressCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Street</mat-label>
                  <input matInput placeholder="Street" formControlName="newmailstreetCtrl" required/>
                </mat-form-field>
              </div>
              <div class="box" [class.hide]="isVisible">
                <mat-form-field>
                  <mat-label>PostCode</mat-label>
                  <input matInput placeholder="postcode" formControlName="newmailpostcodeCtrl" required/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Locality</mat-label>
                  <mat-select formControlName="newmaillocalityCtrl" (selectionChange)="onLocalitySelectionChange($event)">
                    <mat-option *ngFor="let locality of localities" [value]="locality.id">
                      {{ locality.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>
          
        </mat-accordion>
      </div>
    </div>
 
  