




.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.main-container {
  height: 100%;
  background-image: url("/assets/background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.container {
  background-color: white;
  border: 3px solid #ddd;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  margin-left: 600px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  margin-bottom: 20px;
}

.mat-expansion-panel-header {
  background-color: #e0e0e0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

mat-form-field {
  width: 48%;
  margin-bottom: 16px;
}

.mat-form-field-full-width {
  width: 100%;
}

