<div class="container">
    <h1>Edit Profile</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-group">
              <mat-form-field>
                  <mat-label>Id Card Number</mat-label>
                  <input matInput placeholder="Card Number" formControlName="idcardCtrl" required />
                </mat-form-field> 
        </div>

        <div class="form-group">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="titleTypeCtrl">
                      <mat-option value="1">MR</mat-option>
                      <mat-option value="2">MRS</mat-option>
                      <mat-option value="3">MS</mat-option>
                    </mat-select>
                  </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field >
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name"  formControlName="nameCtrl" required />
           
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field >
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname"  formControlName="surnameCtrl" required />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field >
            <mat-label>Gender</mat-label>
            <mat-select>
              <mat-option value="female" selected>Female</mat-option>
              <mat-option value="male">Male</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field >
            <mat-label>Nationality</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput value="">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-label>Preferred Contact Mode</mat-label>
          <mat-checkbox>SMS</mat-checkbox>
          <mat-checkbox>Email</mat-checkbox>
        </div>
      </mat-expansion-panel>


<div class="form-group1">
        <button mat-raised-button color="primary" id="ChangeMailingAddress">ChangeMailingAddress</button>
        
      </div>

  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group>
          <mat-tab label="Residence Address">
            <div class="address-content">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Property</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Street</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Locality</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Post Code</mat-label>
                  <input matInput value="-" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Mailing Address">
            <div class="address-content">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Property</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Street</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Locality</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput value="" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Post Code</mat-label>
                  <input matInput value="-" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  
    <div class="buttons">
      <button mat-raised-button color="primary" id="save-profile">Save Profile</button>
      <button mat-raised-button color="warn" id="cancel">Cancel</button>
    </div>
  </div>
  