<div class="maincontainer">

<div class="container body-content">
    <h2>Edit Profile</h2>
    <hr>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
            <mat-icon>account_circle</mat-icon>
        </mat-panel-title>  
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <label>Id Number</label>
          <input  matInput type="text" value=" " readonly>
        </mat-form-field>

    
        <mat-form-field>
          <label>Name</label>
          <input matInput type="text"  value="" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <label>SurName</label>
            <input matInput type="text"  value="" readonly>
          </mat-form-field>

          <mat-form-field>
            <label>Gender</label>
            <input matInput type="text"  value="" readonly>
          </mat-form-field>
      
          <mat-form-field>
            <label>Nationality</label>
            <input matInput type="text"  value="" readonly>
          </mat-form-field>
      
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact Information
            <mat-icon>phone</mat-icon>
        </mat-panel-title>  
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <label>phone Number</label>
          <input  matInput type="number" value=" " readonly>
        </mat-form-field>

    
        <mat-form-field>
          <label>Mobile Number</label>
          <input matInput type="text"  value="" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <label>Residence</label>
            <input matInput type="text"  value="" readonly>
          </mat-form-field>
      </mat-expansion-panel>

    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Residence Address
          <mat-icon>mail</mat-icon>
      </mat-panel-title>  
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <label>property</label>
        <input  matInput type="number" value=" " readonly>
      </mat-form-field>
      <br>
      
      <mat-form-field>
        <label>Street</label>
        <input  matInput type="number" value=" " readonly>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Locality</label>
        <input  matInput type="number" value=" " readonly>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Country</label>
        <input  matInput type="number" value=" " readonly>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Postcode</label>
        <input  matInput type="number" value=" " readonly>
      </mat-form-field>


    </mat-expansion-panel>
</div>

  
    ss
            